Language: Cpp
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
BasedOnStyle: Google
BreakAfterReturnType: None
ColumnLimit: 140
IndentWidth: 4
TabWidth: 4
UseTab: ForIndentation
